<div class="mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Level</th>
        <th scope="col">Created At</th>
        <th scope="col" colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{this._id}}</th>
          <td><a href="/courses/{{this.slug}}">{{this.name}}</a></td>
          <td><img
              style="width: 200px; display: block; object-fit: cover;"
              src="{{this.thumbnail}}"
              alt="{{this.name}}"
            /></td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/edit/{{this._id}}" class="btn btn-primary">Sửa</a>
            <a
              href=""
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              data-id="{{this._id}}"
            >Xoá</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Bạn muốn xoá khoá học này?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Cancel</button>
        <button
          type="button"
          id="delete-course"
          class="btn btn-danger"
        >Delete</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="post"></form>

<script>
  let id = null; const deleteForm = document.forms['delete-course-form']; const
  exampleModal = document.getElementById('exampleModal'); if (exampleModal) {
  exampleModal.addEventListener('show.bs.modal', function (event) { const button
  = event.relatedTarget; id = button.getAttribute('data-id'); }) }; const
  deleteCourseBtn = document.querySelector("#delete-course");
  deleteCourseBtn.addEventListener("click", function () { deleteForm.action =
  `/courses/update/${id}?_method=DELETE`; deleteForm.submit();})
</script>